<div class="">
    <mat-grid-list [cols]="nbCols$ | async" rowHeight="200px" gutterSize="0px">
        <mat-grid-tile *ngFor="let topic of topics$ | async">
          <mat-card class="card-full-height">
            <div>
              <mat-card-title>{{ topic.name }}</mat-card-title>
              <mat-card-content>
                <p>{{ topic.description }}</p>
              </mat-card-content>
              <mat-card-footer>
                <div class="button-container">
                  <button *ngIf="!isUserSubscribed(topic)" mat-button mat-raised-button color="primary" (click)="subscribeToTopic(topic)">S'abonner</button>
                  <button *ngIf="isUserSubscribed(topic)" mat-button mat-raised-button (click)="unsubscribeFromTopic(topic)">Se désabonner</button>
                </div>
              </mat-card-footer>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
</div>

