.subtitle-container {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.post-card {
    height: 80%;
    width: 80%;
    background-color: #F5F5F5;
}

