.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* Adjust the height as needed */
}

form {
    width: 30rem;
    .mat-form-field {
        width: 100%;
    }
}

img {
    width: 14rem;
  }

  .logo {
    margin-bottom: 1em;
  }