.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 3em;
    margin-left: 10em;
    margin-right: 10em;
    border-bottom: 2px solid black;
    margin-bottom: 4rem;
  }

.items {
   
}
  
.form-field {
    width: 100%;
    // max-width: 400px; /* Adjust the maximum width as needed */
    max-width: 30rem;
  }
  