<div class="flex-container">
        <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
        </div>
        <mat-card-content>
            <div class="center">
                <h1>Profil utilisateur</h1>
                <form class="form-container" *ngIf="user" [formGroup]="form" (ngSubmit)="updateUser(user.id)">
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="{{ user.name }}" formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="{{ user.email }}" formControlName="email" required>
                        </mat-form-field>
                        <div mat-dialog-actions fxLayout="column">
                            <button mat-raised-button color="primary" [disabled]="form.invalid">Sauvegarder</button>
                            <button mat-button color="warn" style="margin: 1rem;">Se déconnecter</button>
                        </div>            
                    </div>
                </form>        
                <mat-grid-list [cols]="nbCols$ | async" rowHeight="200px" gutterSize="0px">
                        <mat-grid-tile *ngFor="let topic of (subscribedTopics$) | async">
                        <mat-card class="card-full-height">
                            <div>
                            <mat-card-title>{{ topic.name }}</mat-card-title>
                            <mat-card-content>
                                <p>{{ topic.description }}</p>
                            </mat-card-content>
                            <mat-card-footer>
                                <div class="button-container" style="padding-bottom: 2em;">
                                <button *ngIf="isUserSubscribed(topic)" mat-button mat-raised-button (click)="unsubscribeFromTopic(topic)">Se désabonner</button>
                                </div>
                            </mat-card-footer>
                            </div>
                        </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list> 
</div>